body {
    background-color: #6d6d6d;
    text-align:center;
    margin-top:2vh;
}

a{
    color:white;
    font-size:120%;
}

h1{
    color:white;
    font-weight:bold;
    text-decoration:underline;
}


.joueur{
    margin:50px;
}

.joueur button{
    margin:0 auto;
    padding:10px;
    border-radius:10px;
    border:none;
    font-size:150%;
}

.joueur button:hover{
    background-color:lightgrey;
    cursor:pointer;
}

.joueur button:active{
    background-color:darkgrey;
}

/* score */
.score{
    margin:0 auto;
    padding:10px;
    color:white;
    font-size:115%;
    font-weight:bold;
    background-color:black;
    width:50vh;
    border-radius:10px;
}

/* results */
.results{
    margin:0 auto;
    padding:10px;
    color:white;
    font-size:115%;
    font-weight:bold;
    background-color:black;
    width:50vh;
    border-radius:10px;
}

@media screen and (max-width: 600px) {
    .score{
        width:30vh;
    }

    .results{
        width:30vh;
    }
}